# Copyright 2020 Daniel Kraemer <dkraemer@dkross.org>. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

[Unit]
Description=Cleanup of /dev/sda2
DefaultDependencies=no
Before=shutdown.target
Before=rescue.service
Conflicts=shutdown.target
Conflicts=rescue.service

[Service]
ExecStart=/opt/provision/cleanup.sh run
Type=idle
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
