# Copyright 2020 Daniel Kraemer <dkraemer@dkross.org>. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

[Unit]
Description=Cleanup Mode
Requires=cleanup.service
After=cleanup.service
AllowIsolate=yes
